.pendu-game {
  text-align: center;
}

.tries {
 background-color: gray;
 overflow: hidden;
 width: 100%;
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}

.letters {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 30px auto auto auto;
  padding: 10px 10px 30px 10px;
  justify-content: center;
}

.start {
  width: 100%;
}

.rules {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
}

.rules > table {
  margin: auto;
}

.rules > table td {
  text-align: left;
}

.logo-personal {
    width: 50px;
    height: 50px;
}
